/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/testing/.env
/public/testing/node_modules
/public/testing/public/hot
/public/testing/public/storage
/public/testing/storage/*.key
/public/testing/vendor
